<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109322381201-2o0qaf85f7rpdffenemc48p4vmd2socd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109322381201-2o0qaf85f7rpdffenemc48p4vmd2socd</string>
	<key>API_KEY</key>
	<string>AIzaSyCbopef_Jbr9GTXgxfpP4Rpp1-G-il4x_k</string>
	<key>GCM_SENDER_ID</key>
	<string>109322381201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.holuid.notificationsPlayground</string>
	<key>PROJECT_ID</key>
	<string>playground-3c810</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-3c810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109322381201:ios:d27eb385f8327ca1d81c30</string>
</dict>
</plist>